body{

    background-image: url(/FOTOS/backgroundFinal.gif);
    margin: 0;
    padding: 0;
}
.nav{



    margin-left: -15px;

}
.nav a:hover{
    color: #00CA69;
}
.contentHome{
    margin-top: 250px;

     margin-left: 15%;
    margin-right: 20%;

}

h2{

    margin-top: 100px;

}
h1{

    margin-top: -45px;


}
p{

    margin-top: -20px;


}

.textBoeken
{

width: 50%;
}

.fotos{

    float:right;
    margin-top: -240px;

    width: 350px;

   box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.2);
}

.button {
  background-color: #00CA69;/* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 2px;
  cursor: pointer;
transition: .5s;
   margin-top: 100px;


}

.button:hover {
  background-color: #00954d;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 2px;
  cursor: pointer;


transition: .5s;
     margin-top: 100px;


}
.button:active {
  background-color: dimgray;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 2px;
  cursor: pointer;
transition: .5s;

      margin-top: 100px;
     box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);

}
.button2 {
  background-color: #252864;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 2px;
  cursor: pointer;

  margin-top: 100px;

transition: .5s;
}

.button2:hover {
  background-color: #4349ba;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 2px;
  cursor: pointer;

transition: .5s;

  margin-top: 100px;

}
.button2:active {
  background-color: dimgray;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  margin: 4px 2px;
  cursor: pointer;
transition: .5s;
  margin-top: 100px;
     box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.2);

}

.button1 {border-radius: 25px;
}

.button p{

    margin: auto;
    margin-left: 70px;
    margin-right: 70px;
}

.button2 {border-radius: 25px;
}

.button2 p{

    margin: auto;
    margin-left: 70px;
    margin-right: 70px;
}