.undernav{
    transition: .5s;
    margin-top: 5%;
    
    
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    display: block;
    z-index: -9999px;
}
.undernav a{
    margin-right: 40px;
    
    transition: .5s;
    float: left;
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.undernav a:hover, .undernav .active{
    color: #00ca69;
    border-bottom: 10px;
}
.undernav li{
    display: inline-block;
}

.cool-link::after, .active::after{
    margin-top: 3px;
    content:'';
    display: block;
    width: 0%;
    height: 3px;
    background: #00ca69;
    transition: .5s;
    border-radius: 10px;
}

.cool-link:hover::after, .active::after{
    width: 100%;
    transition: .5s;
}
@media only screen and (max-width:1023px){
    .undernav{
        text-align: center;
        margin-right: 0%;
        margin-left: 0%;
        margin-top: 30%;
    }
    .undernav a{
        font-size: 7px;
        text-align: center;
        margin: .1%;
    }
}