table ,h2{
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    
}
th{
    padding-bottom:90px;
padding-right: 100px;
   text-align: left;
    
    font-size: 15px;
    width: 20%;
}
td{
    vertical-align: top;
    padding-bottom:90px;
padding-right: 10px;
    text-align: left;
 font-size: 15px;
    width: 20%;
}
table a{
    color: black;
}
table a:hover{
    transition: .5s;
    color: #00ca69;
}
tables{
    background-color: white;
}
.tbunderline{
    border: 1px solid black;
}
