body{

    background-image: url(/FOTOS/backgroundFinal.gif);
    margin: 0;
    padding: 0;
}

.backgroundHome{

    background-image: url(/FOTOS/backgroundHome.gif);
    margin: 0;
    padding: 0;
}

.bodyBoek{

    background-image: url(/FOTOS/backgroundFinal.gif);
    margin: 0;
    padding: 0;
}

