/*************************
*     Import fonts       *
**************************/
@font-face{
  font-family: poppins;
  src: url(../../fonts/poppins-v5-latin-regular.eot) format("embedded-opentype"),
  url(../../fonts/poppins-v5-latin-regular.woff) format("woff"),    
  url(../../fonts/poppins-v5-latin-regular.woff2) format("woff2"), 
  url(../../fonts/poppins-v5-latin-regular.svg) format("svg"),
  url(../../fonts/poppins-v5-latin-regular.ttf) format("truetype"),
}

/*************************
*         Fonts          *
**************************/
*{ 
   font-size: 1.7rem;
}

article {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 2.7rem;
}

.nummer >li {
    font-size: 2rem;
    font-weight: bold;
}

ol >li {
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 2rem;
}