/*--------------------CONTACT/INPUTS/BUTTONS--------------------*/
body {
    background: #F5F6F6;
    background-image: url("../../images/contact/Background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;


}

.contacttext {
    float: left;
    width: 50%;
    margin-bottom: 10%;
}

.contacttext h1 {
    font-family: acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;

}

.contacttext h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 54px;

}

fieldset {
    border: none;
    margin: 0;
    left: 0;
    right: 0;
    padding: 0;
}
.contact{
    width: 100%;
}

.contact [name=email],
.contact [name=subject] {
    height: 30px;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 2px solid green;
    border-bottom-left-radius: 10px;
    margin-bottom: 5%;
    padding-left: 0.5%;
    background-color: #F5F6F6;
}

.contact [name=body] {
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid green;
    border-radius: 10px;
    margin-bottom: 2%;
    padding-left: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 100px;
    background-color: #F5F6F6;
}

.contact button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00CA69;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    margin-right: 20%;
    cursor: pointer;
    width: 50%;
}

.contact button p {
    margin: 4px 2px;
    width: 100%;
    font-size: 21px;
    display: inline-block;
}

.contact button:hover {
    background-color: #252864;

}

.contact button:active {
    background-color: dimgray;

}

.map {
    float: left;
    width: 50%;
}

.map iframe {
    width: 100%;
    height: 450px;

}

/*************************
*        clearfix:       *
**************************/
.clearfix::after {
    clear: both;
    content: "";
    display: table;

}

/*************************
*        clearfix:       *
**************************/

@media only screen and (max-width: 450px) {
   .contacttext {
    float: left;
    width: 100%;
    margin-bottom: 10%;
}
     .contact button {
        width: 80%;
        margin: auto;
    }

    .contact [name=email],
    .contact [name=subject],
    .contact [name=body] {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .map{
        width: 100%;
    }
    iframe{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        
    }
    body {
    background: #F5F6F6;
    background-image:url("../../images/contact/BackgroundMobile.jpg");
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size:contain;
    }

}